.header {
    background:#fff;
    padding: 0;
    height:60px;
    .header-top {
        height:60px;
        line-height: 60px;
        padding: 0 50px;
        text-align: right;
        a {
            margin-left: 40px;
        }
    }

    .breadcrumb {
        height: 40px;
        line-height: 40px;
        padding: 0 50px;
        border-top:1px solid #52c41a;
        .breadcrumb-title {
            text-align: center;
        }
        .breadcrumb-weather {
            text-align: right;
        }
        .weather {
            margin-left: 20px;
        }
    }
}